#lg_a{
    color: #0064ff;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#lg_b{
    color: #9223ff;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#lg_c{
    color: #ff8b00;
    display: inline-block;
    padding: 0;
    margin: 0;
}