@font-face {
    font-family: "VKFont";
    src: url("fonts/vk_sans.ttf");
}

body{
    font-family: "VKFont", sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#root{
    padding: 10px;
}