#toolbar{
    background-color: #FFFFFF;
    box-shadow: 0 0 15px gray;
    color: #000000;

    vertical-align: middle;
    padding: 10px 10px;
    margin: 0;
}

#toolbar div{
    vertical-align: middle;
    display: inline-block;
}

#toolbar_title{
    font-size: 35px;
}